%h1 Listing Giraffes
%table 
	%tr 
		%th Title 
		%th Place 

	- @giraffes.each do |giraffe|
		%tr 
			%td= giraffe.name
			%td= giraffe.zookeeper_id
			%td= link_to 'Show', giraffe 
			%td= link_to 'Edit', edit_giraffe_path(giraffe)
			%td= link_to 'Destroy', giraffe, :method => :delete, :data => {:confirm => 'Are you sure?'}

%br
= link_to 'New Post', new_giraffe_path